section {
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 2rem;
}

.about img {
    width: 30vw;
    max-width: 300px; 
    border-radius: 10%;
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
    margin-top: 0rem; 
}

.info-box h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 0rem; 
}

.info-box span {
    background: linear-gradient(to right, #20808d, #20c0d6);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.info-box p {
    text-align: justify;
}

.btn-group {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.btn {
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover {
    background-color: black;
    color: white;
}

.socials {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.socials i {
    font-size: 2.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.socials i:hover {
    transform: scale(1.1);
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}


@media (max-width: 768px) {
    .about .about-container {
        flex-direction: column;
        align-items: center; 
        width: 90%; 
    }

    .about img {
        width: 60vw; 
        max-width: 150px; 
    }

    .info-box {
        align-items: center; 
        text-align: center; 
    }

    .info-box h1 {
        font-size: 2.5rem; 
    }

    .info-box span {
        font-size: 1.5rem; 
    }

    .info-box p {
        font-size: 1rem;
    }

    .btn {
        padding: 0.5rem 1rem; 
    }

    .socials i {
        font-size: 2rem; 
    }
}
